body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#startupDiv {
    display: block;
    text-align: center;
    font: 5vmin monospace;
    margin-top: 10vh;
}
#pleaseWaitDiv {
    display: none;
    text-align: center;
    font: 5vmin monospace;
    margin-top: 10vh;
}
#instructionsDiv {
    display: none;
    text-align: justify;      
    font: 2vmin monospace;    
    border: 0;
    padding: 0;
    margin: 0;
    float: right;  
}
#instructionsTitleDiv{
    text-align: center;
}
#idInput{
    font: 10vmin monospace;
    text-align: center;
}
#idSubmit{
    font: 10vmin monospace;
    text-align: center;
}
#investment1Div {
    display: none;
    text-align: center;      
    font: 4vmin monospace; 
    border: 0;
    padding: 0;
    margin: 0;
    float: right;    
}
#feedback1Div {
    display: none;
    text-align: center;      
    font: 4vmin monospace; 
    border: 0;
    padding: 0;
    margin: 0;    
}
#investment2Div {
    display: none;
    text-align: center;      
    font: 4vmin monospace;    
    border: 0;
    padding: 0;
    margin: 0;
    float: right;  
}
#outcomeDiv {
    display: none;
    text-align: center;      
    font: 4vmin monospace;    
    border: 0;
    padding: 0;
    margin: 0;
    float: right;  
}
#canvas1 {
    border-style: none;
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
}