body {
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
#joinGameButton{
    font: 5vmin monospace;
}
#preSurveyDiv {
    width: 133vh;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: none;
    text-align: center;
    font: 2.5vmin monospace;
}
#preSurveyDivPage1 {
    display: block;  
}
#preSurveyDivPage2 {
    display: none;  
}
.preSurveyButton {
    font: 3vmin monospace;
}
#typingDiv {
    width: 133vh;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: none;
    text-align: center;
    font: 5vmin monospace;
}
#typingHeader {
    width: 90%;
    display: block;
    text-align: justify;      
    font: 3vmin monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 20;
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 20;
    float: right;  
    border-style: none;
}
#targetTextbox {
    width: 90%;
    display: block;
    text-align: justify;      
    font: 3vmin monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 20;
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 20;
    float: right;  
    border-style: solid;
    word-break: break-all;
}
#countdownDiv {
    width: 90%;
    display: block;
    text-align: center;      
    font: 5vmin monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 20;
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 20;
    float: right;  
    border-style: none;
}
#loginDiv {
    display: block;
    text-align: center;
    font: 5vmin monospace;
    margin-top: 8vh;
}
#pleaseWaitDiv {
    width: 133vh;
    margin-left: auto;
    margin-right: auto;
    display: none;
    text-align: center;
    font: 5vmin monospace;
    margin-top: 8vh;
}
#instructionsDiv {
    width: 80vw;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;    
    display: none;
    text-align: center;
    font: 4vmin monospace; 
    border: 0;
    padding: 0;
}
#instructionsTextDiv {
    display: block;
    text-align: justify;      
    font: 2vmin monospace;    
    border: 0;
    padding-top: 20;
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 0;
}
#beginPracticePeriodsButton{
    display: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto; 
    font: 5vmin monospace;
}
#idInput{
    font: 10vmin monospace;
    text-align: center;
}
#idSubmit{
    font: 10vmin monospace;
    text-align: center;
}
#interfaceDiv {
    margin-left: 0;
    margin-right: 0;
    display: none;
    text-align: center;      
    font: 4vmin monospace; 
    border: 0;
    padding: 0;
}
#postSurveyDiv {
    width: 133vh;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: none;
    text-align: center;
    font: 2.5vmin monospace;
}
#postSurveyDivPage1 {
    display: block;  
}
#postSurveyDivPage2 {
    display: none;  
}
.postSurveyButton {
    font: 5vmin monospace;
}
.surveyNumber {
    text-align: center;
    margin: 2vh;
    width: 40vh;
    font: 2.5vmin monospace;
}
#beginExperimentButton {
    margin: 2vh;
}
.surveyQuestionDiv {
    margin: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.surveyInput {
    text-align: center;
    margin: 2vh;
    width: 50vh;
    font: 2.5vmin monospace;
}
.postSurveySubmit {
    font: 5vmin monospace;
}
#canvas {
    border-style: none;
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}