* {
    font: 2vmin monospace;
    text-align: center;
}
button {
    margin-bottom: 2vh;
}
#interfaceDiv {
    display: table;
    margin-top: 0vh;
}
#rowDiv {
    display: table-row;
    margin-top: 0vh;
}
#infoDiv {
    display: table-cell;
    width: fit-content;
    border-collapse: 0;
}
#subjectsDiv {
    display: table-cell;
    margin-top: 0vh;
    width: fit-content;
    height: fit-content;
}
#subjectsTable {
    margin-top: 0vh;
    width: 10vw;
}
td {
    font: 2vmin monospace;
    padding-left: 1vmin;
    padding-right: 1vmin;
}
#parametersDiv {
    display: table-cell;
    margin-top: 0vh;
    width: 50vw;
}
