* {
    font: 5vmin monospace;
    text-align: center;
}
#interfaceDiv {
    display: block;
    margin-top: 10vh;
}
button {
    margin-bottom: 5vh;
}
#subjectsTable {
    display: block;
    text-align: center;
    font: 5vmin monospace;
    margin-top: 10vh;
    float: left;
}