* {
    font: 5vmin monospace;
    text-align: center;
}
button {
    margin-bottom: 5vh;
}
#interfaceDiv {
    display: table;
    margin-top: 0vh;
}
#rowDiv {
    display: table-row;
    margin-top: 0vh;
}
#infoDiv {
    display: table-cell;
    width: fit-content;
    border-collapse: 0;
}
#subjectsDiv {
    display: table-cell;
    margin-top: 0vh;
    width: fit-content;
}
#subjectsTable {
    font: 5vmin monospace;
    margin-top: 0vh;
    width: 10vw;
    float: left;
}
#parametersDiv {
    display: table-cell;
    margin-top: 0vh;
    width: 50vw;
}